# =========================
# BACKEND (Django / Python)
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# =========================
# FRONTEND (React / Vite)
# =========================
node_modules/
dist/
dist-ssr/

# =========================
# ENVIRONMENT & SECRETS
# =========================
.env

# =========================
# TOOLS & OS
# =========================
.DS_Store
.postman/
postman/