# .gitignore
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/.venv
.DS_Store
node_modules/
.postman/
postman/
backend/auth_api/__pycache__
backend/core/__pycache__
venv